<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../../dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <button @click="cl">btn</button>
      <!-- <ul>
        <li class="li-item" v-for="item in list" :key="item">{{ item }}</li>
      </ul> -->
      <input class="i1" key="i1" type="text" v-model="inp" v-if="visible" />
      <input class="i2" key="i2" type="text" v-model="inp" v-else />
    </div>

    <script>
      const vue = new Vue({
        el: "#app",
        data() {
          return {
            list: ["a", "b", "c", "d"],
            visible: true,
            inp: "",
          };
        },
        methods: {
          cl() {
            // this.list.splice(1, 0, "y");
            this.visible = !this.visible;
          },
        },
      });
    </script>
  </body>
</html>
